@import 'base.scss';

.component {
  padding: 2rem;
}

.content {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.movieInformation {
  width: 50%;
}

.recentComments {
  width: 50%;
}

.sectionTitle {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 2rem;
  margin-top: 0px;
}
